# Virtual environment
.venv/
.venv-1/

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# IDE
.vscode/

# Dataset
data/

# Model artifacts
*.pkl
*.pickle
*.joblib

# OS
.DS_Store
Thumbs.db